.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.img {
  margin-right: 20px;
  width: 170px;
  height: 100px;
}

.info {
  flex: 1;
}

.info span {
  color: #777;
  font-size: 14px;
}

.link {
  margin-left: 20px;
}